body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2 {
  margin: 0;
  padding: 0;
}

/* Hero  */

.header-container {
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-links {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.header-logo {
  font-size: 24px;
  color: #f9f9f9;
}

.header-links {
  font-size: 18px;
  color: #e5e7eb;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.hero-subtext {
  max-width: 450px;
}

.hero-title {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}
.hero-subtext {
  font-size: 18px;
  color: #e5e7eb;
}

/* Content hero */

.content {
  font-size: 18px;
  color: #1f2937;
  text-align: center;
}

.content-title {
  padding-bottom: 25px;
  padding-top: 25px;
}

.content-items {
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
}

.content-item {
  max-width: 200px;
}

.content-image {
  width: 150px;
  height: 150px;
}

/* Quote  */

.content-quote {
  background-color: #e5e7eb;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quote {
  font-size: 24px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
}

.quote-author {
  align-self: end;
}

/* Call to action */

.call-action,
.call-action-button {
  background-color: #3882f6;
  color: #f9f9f9;
  border: solid white 1px;
  border-radius: 3px;
}

.call-action {
  margin: 100px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

/* Footer  */

.footer {
  background-color: #1f2937;
  color: white;
}

.footer p {
  margin: 0;
  padding: 20px;
  text-align: center;
}
